/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/

:root {

  --header-height: 3.5rem;

  /*======= Font and typography =======*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-small:400;
  --font-medium: 500;
  --font-semi-bold: 600;

}

/*========== Variables Dark theme ==========*/

html[data-theme="Dark"]:root{

  --body-color: hsl(270, 30%, 23%);
  --section-bg-color: hsl(270, 30%, 18%);
  --header-color:hsl(270, 30%, 15%);
  --header-hover-color:hsl(270, 30%, 30%);
  --footer-color:hsl(270, 30%, 12%);

  --title-color:hsl(270, 0%, 95%);
  --text-color: hsl(270, 10%, 90%);
  --text-muted: hsl(270, 20%, 70%);

  --accent-color: hsl(160, 60%, 75%);
  --accent-hover: hsl(160, 70%, 65%);
  --btn-text: hsl(270, 40%, 15%);

  --border-color: hsl(270, 75%, 75%);

}

/*========== Variables Light theme ==========*/

html[data-theme="Light"]:root{

  --body-color: hsl(42, 100%, 97%);
  --setion-bg-color: hsl(42, 100%, 90%);
  --header-color:hsl(42, 100%, 85%);
  --header-hover-color:hsl(42, 100%, 70%);
  --footer-color:hsl(42, 30%, 93%);

  --title-color:hsl(270, 50%, 10%);
  --text-color: hsl(270, 40%, 15%);
  --text-muted: hsl(270, 10%, 45%);

  --accent-color: hsl(160, 60%, 45%);
  --accent-hover: hsl(160, 70%, 35%);
  --btn-text: hsl(270, 10%, 90%);

  --border-color: hsl(270, 25%, 25%);

}

/*==================== BASE ====================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section{
  max-width: 1350px;
}

/*==================== HEADER ====================*/

header{
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* logo */
.header-logo{
  width:calc(2* var(--header-height));
  font-size: var(--big-font-size);
}

.header-logo a{
  color: var(--text-color);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbar */
.navbar{
  height: 100%;
  display: flex;
  align-items: center;
}

/* nav icon */
.navbar-icon-container {
  font-size: var(--big-font-size);
  width: var(--header-height);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* navlist */
.nav-elements-list {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 110;
  width: 100%;
  height: 100%;
  padding: 4rem 2rem;
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  transition: left 0.4s ease;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-item {
  width: 100%;
  padding: 0.5rem 1rem;
  transform: translateX(-150px);
  visibility: hidden;
  transition: transform 0.4s ease-out , visibility 0.4s;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}
.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}
.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}
.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}
.nav-item:nth-child(5) {
  transition-delay: 0.5s;
}

.nav-link {
  width: 100%;
  color: var(--text-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.4s ease-out;
}

/* animation on hover */
.nav-link:hover::after {
  width: 100%;
}

/* sibling fade animation */
.nav-list:has(.nav-link:hover) .nav-link:not(:hover) {
  opacity: 0.4;
}

/* theme toggle */
.navbar-theme-toggle-container {
  width:4rem;
  height:2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-theme-toggle {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--accent-color);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-theme-ball {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

/* show navbar */
.show-menu {
  left: 0;
}

.show-menu .nav-item {
  visibility: visible;
  transform: translateX(0);
}

/*==================== MAIN ====================*/

/*==================== FOOTER ====================*/
